In [1]:
import pandas as pd
import sqlite3
with sqlite3.connect('data/chinook.db') as con:
    query='SELECT * FROM customers'

    df=pd.read_sql(query,con)
    
print(df.head(10))

   CustomerId  FirstName     LastName  \
0           1       Luís    Gonçalves
1           2     Leonie       Köhler
2           3   François     Tremblay
3           4      Bjørn       Hansen
4           5  František  Wichterlová
5           6     Helena         Holý
6           7     Astrid       Gruber
7           8       Daan      Peeters
8           9       Kara      Nielsen
9          10    Eduardo      Martins

                                            Company  \
0  Embraer - Empresa Brasileira de Aeronáutica S.A.
1                                              None
2                                              None
3                                              None
4                                  JetBrains s.r.o.
5                                              None
6                                              None
7                                              None
8                                              None
9                                  Woodstock Discos

                                Address                 City State  \
0       Av. Brigadeiro Faria Lima, 2170  São José dos Campos    SP
1               Theodor-Heuss-Straße 34            Stuttgart  None
2                     1498 rue Bélanger             Montréal    QC
3                      Ullevålsveien 14                 Oslo  None
4                         Klanova 9/506               Prague  None
5                         Rilská 3174/6               Prague  None
6  Rotenturmstraße 4, 1010 Innere Stadt               Vienne  None
7                       Grétrystraat 63             Brussels  None
8                   Sønder Boulevard 51           Copenhagen  None
9             Rua Dr. Falcão Filho, 155            São Paulo    SP

          Country PostalCode               Phone                 Fax  \
0          Brazil  12227-000  +55 (12) 3923-5555  +55 (12) 3923-5566
1         Germany      70174    +49 0711 2842222                None
2          Canada    H2G 1A7   +1 (514) 721-4711                None
3          Norway       0171     +47 22 44 22 22                None
4  Czech Republic      14700    +420 2 4172 5555    +420 2 4172 5555
5  Czech Republic      14300    +420 2 4177 0449                None
6         Austria       1010      +43 01 5134505                None
7         Belgium       1000    +32 02 219 03 03                None
8         Denmark       1720      +453 3331 9991                None
9          Brazil  01007-010  +55 (11) 3033-5446  +55 (11) 3033-4564

                      Email  SupportRepId
0      luisg@embraer.com.br             3
1     leonekohler@surfeu.de             5
2       ftremblay@gmail.com             3
3     bjorn.hansen@yahoo.no             4
4  frantisekw@jetbrains.com             4
5           hholy@gmail.com             5
6    astrid.gruber@apple.at             5
7     daan_peeters@apple.be             4
8     kara.nielsen@jubii.dk             4
9  eduardo@woodstock.com.br             4

In [5]:
import json
with open('data/iris.json','r',encoding='utf8') as file:
    data=json.load(file)

    df_iris=pd.DataFrame(data)
print(df_iris.shape)

(150, 5)

In [11]:
df = pd.read_excel('data/titanic.xlsx')

print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [12]:
df_parqut=pd.read_parquet('data/flights')
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [12]:
import csv


with open('data/movie.csv', 'r',encoding='utf8') as file:
    reader=csv.reader(file)
    data=list(reader)

df_csv=pd.DataFrame(data)
print(df_csv.sample(5))

         0               1      2      3      4      5                6   \
3151  Color    Ariel Vromen  221.0  106.0   34.0  683.0     James Franco
4287  Color      Todd Field  179.0  138.0  143.0  783.0     Sissy Spacek
616   Color  Mikael Salomon   79.0   97.0   13.0  695.0    Minnie Driver
2138  Color  Jeannot Szwarc   75.0  131.0   82.0   85.0  Murray Hamilton
464   Color  Richard Donner   80.0  135.0  503.0   67.0    Alex McArthur

           7            8                                      9   ...     18  \
3151  11000.0    1939441.0                  Biography|Crime|Drama  ...  144.0
4287   1000.0   35918429.0                            Crime|Drama  ...  510.0
616   11000.0   19819494.0            Action|Crime|Drama|Thriller  ...  126.0
2138    813.0  102922376.0              Adventure|Horror|Thriller  ...  265.0
464    8000.0   76081498.0  Action|Crime|Mystery|Romance|Thriller  ...  162.0

           19   20  21          22      23       24   25    26     27
3151  English  USA   R  10000000.0  2012.0  11000.0  6.9  1.85  20000
4287  English  USA   R   1700000.0  2001.0    874.0  7.5  2.35    951
616   English  USA   R  70000000.0  1998.0    893.0  5.8  2.35    815
2138  English  USA  PG  20000000.0  1978.0    366.0  5.7  2.35      0
464   English  USA   R  75000000.0  1997.0    137.0  6.7  2.35      0

[5 rows x 28 columns]