In [13]:
import pandas as pd
import json
with open('data/iris.json','r',encoding='utf8') as file:
    load=json.load(file)
    def_iris=pd.DataFrame(load)

def_iris=def_iris[['sepalLength','sepalWidth',"petalLength",'petalWidth']]
print('mean is:\n',def_iris.mean())
print('median is:\n',def_iris.median())
print('standart deviation is:\n',def_iris.std())

mean is:
 sepalLength    5.843333
sepalWidth     3.057333
petalLength    3.758000
petalWidth     1.199333
dtype: float64
median is:
 sepalLength    5.80
sepalWidth     3.00
petalLength    4.35
petalWidth     1.30
dtype: float64
standart deviation is:
 sepalLength    0.828066
sepalWidth     0.435866
petalLength    1.765298
petalWidth     0.762238
dtype: float64

In [17]:
df_titanic=pd.read_excel('data/titanic.xlsx')
df_numeric = df_titanic.select_dtypes(include=['number'])
print(f"minimum is:\n{df_numeric.min()}")
print(f"maximum is:\n{df_numeric.max()}")
print(f"sum is:\n{df_numeric.sum()}")

minimum is:
PassengerId    1.00
Survived       0.00
Pclass         1.00
Age            0.42
SibSp          0.00
Parch          0.00
Fare           0.00
dtype: float64
maximum is:
PassengerId    891.0000
Survived         1.0000
Pclass           3.0000
Age             80.0000
SibSp            8.0000
Parch            6.0000
Fare           512.3292
dtype: float64
sum is:
PassengerId    397386.0000
Survived          342.0000
Pclass           2057.0000
Age             21205.1700
SibSp             466.0000
Parch             340.0000
Fare            28693.9493
dtype: float64